html, body, main, header {
  width: 100%;
  margin: 0;
}

header {
  height: 100px;
  background-color: lightsalmon;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0 40px;
  align-items: center;
}

li {
  padding: 10px;
  color: white;
  margin: left;
}

main {
  text-align: -webkit-center;
}

table, td, th {
  border: 1px black solid;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}