#salmon-img figcaption {
  font-size: small;
}

#salmon-img {
  width: 80%;
}

#locations, #hours, #contact {
  width: 50%;
  border: 2px solid lightsalmon;
  margin: 60px;
  background-color: white;
}

#locations ul{
  display: block;
  padding-left: 0;
  padding-bottom: 20px;
  text-align: left;
  list-style-type: none;
}

#locations li {
  color: black;
  padding: 10px 20px;
}

#family-photo {
  width: 80%;
}

#chinook-footer-img {
  height: 50px;
  padding-top: 20px;
  padding-right: 20px;
}

#merch img {
  height: 400px;
  padding: 30px;
}

#merch h1 {
  font-size: 32px;
  margin-bottom: 0;
}

footer {
  text-align: end;
}

@media screen and (min-width: 878px) {
  #salmon-img {
    width: 666px;
  }
  #locations {
    width: 445px;
  }
  #cookies {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}