figcaption {
  font-size: small;
}

#salmon-img {
  width: 80%;
}

@media screen and (min-width: 878px) {
  #salmon-img {
    width: 666px;
  }
}

#locations {
  width: 50%;
  border: 2px solid lightsalmon;
  margin: 60px;
}

#locations ul{
  display: block;
  padding-left: 0;
  text-align: left;
}

#locations li {
  color: black;
}